name: snapshot
on:
  schedule:
    - cron: "0 * * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: fetch
        run: |
          curl -s https://paintboard.luogu.me/api/paintboard/getboard -o board.raw
          python3 convert.py
          export TZ=Asia/Shanghai
          TARGET=$(date +%Y/%m/%d/board_%Y%m%d%H%M%S.png)
          mkdir -p $(dirname $TARGET)
          cp board.png $TARGET
          rm board.raw
      - name: commit & push
        run: |
          git config --global user.name github-actions[bot]
          git config --global user.email github-actions[bot]@users.noreply.github.com
          git add .
          git commit -m snapshot
          git push
